.container {
    display: flex;
   flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
.card{
    border:5px rgb(40, 64, 40) solid;
    margin:4em;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    padding:20px;
    color: white;
    background: rgb(209, 208, 208);
    border-radius: 40px;
    
}
.card h1 img{
    height:200px;
    width:200px;
    /* mix-blend-mode: multiply; */
    border-radius: 50%;
}