.container{
    background-color: rgb(175, 175, 244);
    /* padding-left: 400px; */
    font-size: 1rem;

}
.container h1{
    margin-left: 600px;
}
.searchBar{
    display: flex;
    justify-content:space-evenly;
    height: 100px;
    width: 400px;
    /* background-color: antiquewhite; */
    align-items: center;
    margin-left: 500px;
}
.searchBar input{
    height: 30px;
    width: 200px;
}
.searchBar button{
    height: 30px;
    width: 70px;
    background-color: green;
    color: white;
    border: none;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
.card1{
    border: 2px solid red;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 80px;
    background-color: rgb(244, 244, 145);
    margin: 20px;
    /* position: absolute; */
}
.card1 img{
    
    height: 200px;
    width: 200px;
   
}