*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.main-card{
    margin:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
   width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: 20px;
    background: lightcoral;
}
.img{
    background-image: url("./Ettinabhuja.jfif");
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size:auto;
    margin-bottom: 30px;
}
.details p{
    margin: 20px;
}
