*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
}
form{
    padding:20px;
    border:5px solid red;
    flex-direction: column;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
form input{
    width:300px;
    height: 40px;
}
form button{
    width:300px;
    height: 40px;
    
}