.container{
    height: auto;
    width: 500px;
    background-color: #deb887;
    text-align: center;
    padding: 30px;
}
.container input{
    height: 30px;
    width: 200px;
}
.container button{
    height: 35px;
    width: 50px;
    margin-left: 20px;
    background-color: aqua;
    border: none;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.items{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.items button{
    margin-right: 100px;
    margin-top: 10px;
}