*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.loginform button{
    border:none;
    background-color: midnightblue;
    color:white;
    border-radius: 5px;
    display: flex;

}

.form {
    align-items:center;
    display: flex;
}