.navBar_section .header{
    position:fixed;
    display: flex;
    align-items:center;
    justify-content:space-between;
    background:white;
    width:100%;
    padding:1rem;
    z-index:1000;
    box-shadow:0 2px 4px rgba(2,15,29,0.904);
}

.header .logo{
    color:black;
}

.header .navBar{
    position:absolute;
    /* background:rgb(250, 244, 244); */
    height:max-content;
    width:80%;
    text-align:center;
    border-radius:1rem;
    /* top:6rem; */
    left:50%;
    /* padding:1rem; */
    transform:translate(-45%);
    z-index: 2000;
    /* box-shadow:0 2px 4px rgba(2,15,29,0.904); */
    transition:.3s ease-in-out;
}
.header .navBar .navLists{
    display:flex;
    /* flex-direction:column; */
    justify-content:space-between;
    width:100%;
    margin:auto;
    padding: .5rem 0;
}
.navLists .navItem{
    padding:.5rem 0;

}
.navItem .navLink{
    color:hsl(240,4%,36%);
    font-size:.9rem;
    font-weight:600;
}
.navLink:hover{
    color:hsl(199,100%,33%);
}
.logo{
    color:black;
    font-weight:600;
    cursor:pointer;
    align-items:center;
    justify-content:center;

}
.logo .icon{
    font-size:30px;
    color:rgb(0, 217, 255);
    transform:translateY(5px);
}

/* .activeNavBar{
    top:7rem;
} */
.navBar .navLists .btn{
    padding: .6rem 1.5rem;
    background: rgb(0, 217, 255);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top:1rem;
    /* width:120px; */
    /* margin-left:280px; */
}
.btn a{
    color: white;
    font-weight: 600;
}
.icon{
    font-size: 2rem;
    cursor: pointer;
}

.closeBar{
    position:absolute;
    top:1rem;
    right:1.5rem;
    color: hsl(199,100%,33%);

}
.closeBar:hover{
    color: rgb(0, 217, 255);

}
.toggle .icon{
    font-size:30px;
    color:rgb(0, 217, 255);
    
}
.toggle .icon:hover{
    color: hsl(199,100%,33%);
}


@media screen and (min-width:769px){
    .toggle,.closeBar{
        display:none;
    }

    .header{
        padding:1.5rem 2rem;

    }
    .navBar .navLists{
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:row;
    }

    .navBar .navLists .navItems .navLinks{
        background:hsl(240,4%,36%);
        padding:0 0.45rem;
        font-size :0.9rem;
        font-weight:500;
    }
    .navBar .navLists .navItems .navLinks:hover{
        color: hsl(199,100%,33%);
    }
    .btn{
        margin-left:1rem;

    }
    .btn a{
        color:white;
        font-weight:500;
    }
    
}

@media screen and (min-width: 960px){
    .navItem{
        padding:0 0.7rem;
    }
}

@media screen and (min-width: 1240px){
    .header{
        padding:1rem 0.5rem;
    }
}