.container {
    background-color: rgb(8, 193, 193);
    margin: 20%;
    padding: 50px;
}
.addContent{
    display: flex;
    justify-content: space-around;
}

.addContent input{
    width:200px;
    height: 20px;
    margin-right: 20px;
}
.deleteContent {
    display: flex;
    justify-content: space-around;
    
}
.addContent button{
    background-color: rgb(4, 148, 37);
    border: none;
    /* padding: 10px; */
}
.deleteContent button{
    background-color: rgb(4, 148, 37);
    border: none;
    padding: 5px;
}
.deleteContent{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin
    : 20px;
}