.HomeBanner{
    /* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/6e32b96a-d4be-4e44-a19b-1bd2d2279b51/ee068656-14b9-4821-89b4-53b4937d9f1c/IN-en-20220516-popsignuptwoweeks-perspective_alpha_website_small.jpg"); */
    /* height:100vh; */
    /* width: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.HomeBanner{
    position: relative;
    top: 200px;
}
h1{
    font-size:4rem;
}
h2{
    font-size: 2.8rem;
}
p{
    font-size: 20px;
    font-weight: bold;
}
.inputGroup input{
    height: 54px;
    width: 350px;
    padding: 0.1rem 1rem;
    /* border-radius: 0; */
    /* margin-right: 20px; */
    background-color: gray;
    opacity: 0.9;
    border: none;
    color:white;
    border-radius: 8px;
}

button{
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    border: 0;
    height: 54px;
    font-weight: normal;
    background: red;
    border-radius: 8px;
    margin-left: 30px;
}
button:hover{
    background-color: rgb(210, 5, 5);
}
